<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="admin.css">
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<ul>
    <li><a href="index.html">Pocetna</a></li>
    <li><a href="registracija_clana.html">Registracija clana</a></li>
    <li><a href="registracija_trenera.html">Registracija trenera</a></li>
    <li><a href="login_korisnika.html">Prijavi se</a></li>
    <li><a href="/h2">Baza</a></li>
    <a type="button" href="index.html" class="btn1">Odjavi se</a>
</ul>
<a type="button" href="odobravanje_zahteva.html" class="btn">Pregled trenera</a>
<a type="button" href="dodavanje_fitnes_centra.html" class="btn">Pregled fitnes centara</a>
<a type="button" href="pregled_sala.html" class="btn">Pregled sala</a>
<div class="ulogovan">
    <p>Ulogovani ste kao admin:</p>
    <p>Stefan13</p>
</div>
</body>
</html>