<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="odobravanje_zahteva.css">
  <script src="jquery.min.js"></script>
  <script src="jquery.validate.min.js"></script>
  <script src="potvrdaAdministratora.js"></script>
  <title>Pregled fitnes centra</title>
</head>

<body>
<ul>
  <li><a href="index.html">Pocetna</a></li>
  <li><a href="registracija_clana.html">Registracija clana</a></li>
  <li><a href="registracija_trenera.html">Registracija trenera</a></li>
  <li><a href="login_korisnika.html">Prijavi se</a></li>
  <li><a href="/h2">Baza</a></li>
  <a type="button" href="index.html" class="btn1">Odjavi se</a>
</ul>
<div class="ulogovan">
  <p>Ulogovani ste kao admin</p>
</div>
<div class="fitnesCentar">
  <h1>Dodavanje fitnes centra</h1>
<form id="dodajFitnesCentar">
  <p>
    <label for="naziv">Naziv:</label>
    <br />
    <input type="text" name="naziv" id="naziv"  placeholder="Unesite naziv..."  required>
  </p>
  <p>
    <label for="adresa">Adresa:</label>
    <br />
    <input type="text" name="adresa" id="adresa"  placeholder="Unesite adresu..."  required>
  </p>
  <p>
    <label for="broj_telefona_centrale">Broj telefona centrale:</label>
    <br />
    <input type="text" name="broj_telefona_centrale" id="broj_telefona_centrale"  placeholder="Unesite broj..."  required>
  </p>
  <p>
    <label for="email">Email:</label>
    <br />
    <input type="text" name="email" id="email"  placeholder="Unesite email..."  required>
  </p>
  <input type="submit" value="Dodaj">
</form>
</div>
<table id="ff">
  <tr>
    <th>Naziv</th>
    <th>Adresa</th>
    <th>Broj telefona centrale</th>
    <th>Email</th>
    <th>Izmeni</th>
    <th>Obrisi</th>
  </tr>
</table>
<h1>Izmena fitnes centra</h1>
<form id="izmeniFitnesCentar" >
  <p>
    <label for="inaziv">Naziv:</label>
    <br />
    <input type="text" name="inaziv" id="inaziv"  placeholder="Unesite naziv..."  required>
  </p>
  <p>
    <label for="iadresa">Adresa:</label>
    <br />
    <input type="text" name="iadresa" id="iadresa"  placeholder="Unesite adresu..."  required>
  </p>
  <p>
    <label for="ibroj_telefona_centrale">Broj telefona centrale:</label>
    <br />
    <input type="text" name="ibroj_telefona_centrale" id="ibroj_telefona_centrale"  placeholder="Unesite broj..."  required>
  </p>
  <p>
    <label for="iemail">Email:</label>
    <br />
    <input type="text" name="iemail" id="iemail"  placeholder="Unesite email..."  required>
  </p>
  <input type="submit" value="Izmeni">
</form>
</body>

</html>