<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Treneri</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="odobravanje_zahteva.css">
  <script src="jquery.min.js"></script>
  <script src="jquery.validate.min.js"></script>
  <script src="potvrdaAdministratora.js"></script>
</head>

<body>
<ul>
  <li><a href="index.html">Pocetna</a></li>
  <li><a href="registracija_clana.html">Registracija clana</a></li>
  <li><a href="registracija_trenera.html">Registracija trenera</a></li>
  <li><a href="login_korisnika.html">Prijavi se</a></li>
  <li><a href="/h2">Baza</a></li>
  <a type="button" href="index.html" class="btn1">Odjavi se</a>
</ul>
<div class="ulogovan">
  <p>Ulogovani ste kao admin</p>
</div>

  <br><br>
    <table id="treneri">
      <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Potvrdi</th>
      </tr>
    </table>
</body>

</html>