<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pregled treninga</title>
  <link rel="stylesheet" href="odobravanje_zahteva.css">
  <script src="jquery.min.js"></script>
  <script src="jquery.validate.min.js"></script>
  <script src="pregled_treninga.js"></script>
</head>
<body>
<ul>
  <li><a href="index.html">Pocetna</a></li>
  <li><a href="registracija_clana.html">Registracija clana</a></li>
  <li><a href="registracija_trenera.html">Registracija trenera</a></li>
  <li><a href="login_korisnika.html">Prijavi se</a></li>
  <li><a href="/h2">Baza</a></li>
</ul>
<br><br>
<div class="pretraga">
<form id="pretraziPoNazivu">
  <p>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
  </p>
  <input type="submit" value="Pretrazi">
</form>
<form id="pretraziPoOpisu">
  <p>
    <input id="opis" type="text" /><br>
  </p>
  <input type="submit" value="Pretrazi">
</form>
<form id="pretraziPoTipuTreninga">
  <p>
    <input id="tip_treninga" type="text" /><br>
  </p>
  <input type="submit" value="Pretrazi">
</form>
<form id="pretraziPoTrajanju">
  <p>
    <input id="trajanje" type="text" /><br>
  </p>
  <input type="submit" value="Pretrazi">
</form>
<form id="pretraziPoCeni">
  <p>
    <input id="cena" type="text" /><br>
  </p>
  <input type="submit" value="Pretrazi">
</form>
</div>


<table id="trening">
  <tr>
    <th><button type="button" class="sNaziv">Naziv</button></th>
    <th><button type="button" class="sOpis">Opis</button></th>
    <th><button type="button" class="sTip">Tip treninga</button></th>
    <th><button type="button" class="sTrajanje">Trajanje</button></th>
    <th><button type="button" class="sCena">Cena</button></th>
  </tr>
</table>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("trening");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</body>
</html>