<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pregled treninga</title>
  <link rel="stylesheet" href="odobravanje_zahteva.css">
  <script src="jquery.min.js"></script>
  <script src="jquery.validate.min.js"></script>
  <script src="pregled_treninga.js"></script>
</head>
<body>
<ul>
  <li><a href="index.html">Pocetna</a></li>
  <li><a href="registracija_clana.html">Registracija clana</a></li>
  <li><a href="registracija_trenera.html">Registracija trenera</a></li>
  <li><a href="login_korisnika.html">Prijavi se</a></li>
  <li><a href="/h2">Baza</a></li>
</ul>
<br><br>
<div class="pretraga">
<form id="pretraziPoNazivu">
  <p>
    <input id="naziv" type="text" /><br>
  </p>
  <input type="submit" value="Pretrazi">
</form>
<form id="pretraziPoOpisu">
  <p>
    <input id="opis" type="text" /><br>
  </p>
  <input type="submit" value="Pretrazi">
</form>
<form id="pretraziPoTipuTreninga">
  <p>
    <input id="tip_treninga" type="text" /><br>
  </p>
  <input type="submit" value="Pretrazi">
</form>
<form id="pretraziPoTrajanju">
  <p>
    <input id="trajanje" type="text" /><br>
  </p>
  <input type="submit" value="Pretrazi">
</form>
<form id="pretraziPoCeni">
  <p>
    <input id="cena" type="text" /><br>
  </p>
  <input type="submit" value="Pretrazi">
</form>
</div>

<button type="button" class="prikazTabele">Prikaz tabele</button>
<table id="trening">
  <tr>
    <th><button type="button" class="sNaziv">Naziv</button></th>
    <th><button type="button" class="sOpis">Opis</button></th>
    <th><button type="button" class="sTip">Tip treninga</button></th>
    <th><button type="button" class="sTrajanje">Trajanje</button></th>
    <th><button type="button" class="sCena">Cena</button></th>
  </tr>
</table>
<table id="prikaz">
  <th>Naziv</th>
  <th>Opis</th>
  <th>Tip treninga</th>
  <th>Trajanje</th>
  <th>Cena</th>
</table>
<table id="sortiranjePoNazivu">
  <th>Naziv</th>
  <th>Opis</th>
  <th>Tip treninga</th>
  <th>Trajanje</th>
  <th>Cena</th>
</table>
<table id="sortiranjePoOpisu">
  <th>Naziv</th>
  <th>Opis</th>
  <th>Tip treninga</th>
  <th>Trajanje</th>
  <th>Cena</th>
</table>
  <table id="sortiranjePoTipu">
    <th>Naziv</th>
    <th>Opis</th>
    <th>Tip treninga</th>
    <th>Trajanje</th>
    <th>Cena</th>
  </table>
<table id="sortiranjePoTrajanju">
  <th>Naziv</th>
  <th>Opis</th>
  <th>Tip treninga</th>
  <th>Trajanje</th>
  <th>Cena</th>
</table>
<table id="sortiranjePoCeni">
  <th>Naziv</th>
  <th>Opis</th>
  <th>Tip treninga</th>
  <th>Trajanje</th>
  <th>Cena</th>
</table>
</body>
</html>