<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="ulogovanTrener.css">
    <title>Ulogovan trener</title>
</head>
<body>
<ul>
    <li><a href="index.html">Pocetna</a></li>
    <li><a href="registracija_clana.html">Registracija clana</a></li>
    <li><a href="registracija_trenera.html">Registracija trenera</a></li>
    <li><a href="login_korisnika.html">Prijavi se</a></li>
    <li><a href="/h2">Baza</a></li>
</ul>
<a type="button" href="pregled_treninga.html" class="btn">Zahtevi trenera</a>
<div class="ulogovan">
    <p>Ulogovani ste kao trener:</p>
    <p th:text="${korisnickoIme}"></p>
    <a type="button" href="index.html" class="btn1">Odjavi se</a>
</div>
</body>
</html>